<div>
	<h1>Welcome to {{title}}!</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Name</td>
				<td>Phone</td>
				<td>Email</td>
				<td>Created Date</td>
				<td class="text-right">
					<button (click)="goToAdd()" class="btn btn-primary btn-sm">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let entry of entries">
				<td>{{entry.lastName}}, {{entry.firstName}}</td>
				<td>{{entry.phone}}</td>
				<td>{{entry.email}}</td>
				<td>{{entry.createDate}}</td>
				<td class="text-right">
					<button (click)="goToEdit(entry.id)" class="btn btn-success btn-sm">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
					<button (click)="deleteEntry(entry)" class="btn btn-danger btn-sm">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
